@model BP_TPWA.Models.TreninkoveData

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TreninkoveData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UzivatelId" class="control-label"></label>
                <select asp-for="UzivatelId" class ="form-control" asp-items="ViewBag.UzivatelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CvikId" class="control-label"></label>
                <select asp-for="CvikId" class ="form-control" asp-items="ViewBag.CvikId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CisloSerie" class="control-label"></label>
                <input asp-for="CisloSerie" class="form-control" />
                <span asp-validation-for="CisloSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PocetOpakovani" class="control-label"></label>
                <input asp-for="PocetOpakovani" class="form-control" />
                <span asp-validation-for="PocetOpakovani" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CvicenaVaha" class="control-label"></label>
                <input asp-for="CvicenaVaha" class="form-control" />
                <span asp-validation-for="CvicenaVaha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
