@using Microsoft.AspNetCore.Identity
@inject SignInManager<Uzivatel> SignInManager
@inject UserManager<Uzivatel> UserManager
@{
    ViewData["Title"] = "Domovská Stránka";
}




@if (SignInManager.IsSignedIn(User))
{
    <section id="mainimage" class="mainimage background-section1">
            <div class="container">
                <div class="text-center">
                    <h1 class="display-4">Aplikace pro tvorbu tréninkových plánů</h1>
                    <h2>Vítejte</h2>
                    <p>Pomůžeme ti k dosažení tvých fitness cílů.</p>
                </div>
            </div>
    </section>
}
else
{
    <section id="mainimage" class="mainimage background-section">
        <div class="container">
            <div class="text-center">
                <h1 class="display-4">Aplikace pro tvorbu tréninkových plánů</h1>
                <h2>Vítejte</h2>
                <p>Pomůžeme ti k dosažení tvých fitness cílů.</p>
            </div>
        </div>
    </section>
}

@if (SignInManager.IsSignedIn(User))
{
    @section scripts{
        <script>
            var uzivatelData = @Html.Raw(Json.Serialize(ViewBag.Uzivatel));
            console.log(uzivatelData[0].váha);
            console.log(uzivatelData[0].tpId);
            console.log(uzivatelData[0]);
            if (uzivatelData[0].pridaneData === false) {
                $.ajax({
                    url: '/Cvik/PridejData',
                    type: 'GET',
                    success: function (response) {
                        
                    },
                    error: function (xhr, status, error) {
                        
                    }
                });
            }

            var pomocneDatum = new Date(uzivatelData[0].pomocneDatum);
            var dnesek = new Date();
            console.log(pomocneDatum);
            console.log(dnesek.getMonth());
            console.log(pomocneDatum.getMonth());


            var pomocneDatumString = pomocneDatum.toISOString();
            var dnesekString = dnesek.toISOString();

            console.log(pomocneDatumString);
            console.log(dnesekString);

            var rozdilRoku = dnesek.getFullYear() - pomocneDatum.getFullYear();
            if (rozdilRoku > 0) {
                if (dnesek.getMonth() >= pomocneDatum.getMonth()) {
                    if (dnesek.getDate() >= pomocneDatum.getDate()) {

                        var seriesDatacus = [];
                        seriesDatacus.push({
                            Datum: pomocneDatumString,
                            cvikId: -1,
                            CisloSerie: -1,
                            PocetOpakovani: -1,
                            CvicenaVaha: -1,
                            Vaha: -1
                        });

                        $.ajax({
                            url: '/Home/ZmenitVek',
                            type: 'POST',
                            data: seriesDatacus[0],

                            success: function (response) {
                                
                            },
                            error: function (xhr, status, error) {
                            }
                        });

                    }
                }
            }


        </script>
    }
}