@using Microsoft.AspNetCore.Identity
@inject SignInManager<Uzivatel> SignInManager
@inject UserManager<Uzivatel> UserManager
@{
    ViewData["Title"] = "Domovská Stránka";
}




@if (SignInManager.IsSignedIn(User))
{
    <section id="mainimage" class="mainimage background-section1">
            <div class="container">
                <div class="text-center">
                    <h1 class="display-4">Aplikace pro tvorbu tréninkových plánů</h1>
                    <h2>Vítejte</h2>
                    <p>Pomůžeme ti k dosažení tvých fitness cílů.</p>
                </div>
            </div>
    </section>
}
else
{
    <section id="mainimage" class="mainimage background-section">
        <div class="container">
            <div class="text-center">
                <h1 class="display-4">Aplikace pro tvorbu tréninkových plánů</h1>
                <h2>Vítejte</h2>
                <p>Pomůžeme ti k dosažení tvých fitness cílů.</p>
            </div>
        </div>
    </section>
}

@if (SignInManager.IsSignedIn(User))
{
    @section scripts{
        <script>
            var uzivatelData = @Html.Raw(Json.Serialize(ViewBag.Uzivatel));
            console.log(uzivatelData[0].váha);
            console.log(uzivatelData[0].tpId);
            console.log(uzivatelData[0]);
            if (uzivatelData[0].pridaneData === false) {
                $.ajax({
                    url: '/Cvik/PridejData',
                    type: 'GET',
                    success: function (response) {
                        
                    },
                    error: function (xhr, status, error) {
                        
                    }
                });
            }
        </script>
    }
}