@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Chyba.</h1>
<h2 class="text-danger">Při zpracování vašeho požadavku došlo k chybě.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID požadavku:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Režim vývoje</h3>
<p>
    Přepnutí do <strong>Vývojového</strong> prostředí zobrazí podrobnější informace o chybě, která nastala.
</p>
<p>
    <strong>Vývojové prostředí by nemělo být povoleno v nasazených aplikacích</strong>, neboť může vést k zobrazení citlivých informací z výjimek uživatelům. Pro lokální ladění může být vývojové prostředí povoleno nastavením proměnné prostředí <strong>ASPNETCORE_ENVIRONMENT</strong> na <strong>Vývoj</strong> a restartováním aplikace.
</p>
