@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Změna hesla";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Prosím zadej staré heslo." />
                <label asp-for="Input.OldPassword" class="form-label">Staré heslo</label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Prosím zadej nové heslo." />
                <label asp-for="Input.NewPassword" class="form-label">Nové heslo</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Prosím potvrď své nové heslo." />
                <label asp-for="Input.ConfirmPassword" class="form-label">Potvrď nové heslo</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-outline-dark">Změnit heslo</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Vybereme element s třídou 'text-danger' a 'validation-summary-errors'
        var errorElement = document.querySelector('.text-danger.validation-summary-errors');

        // Zkontrolujeme, zda je element nalezen
        if (errorElement) {
            // Získáme seznam <li> elementů uvnitř
            var liElements = errorElement.querySelectorAll('li');

            // Projdeme všechny <li> elementy a hledáme text "Incorrect password."
            liElements.forEach(function (li) {
                if (li.textContent.trim() === "Incorrect password.") {
                    // Pokud nalezneme text "Incorrect password.", přepíšeme ho na "Špatné heslo"
                    li.textContent = "Špatné heslo.";
                }
            });
        }
    </script>
}
