@model BP_TPWA.Models.Cvik

@{
    ViewData["Title"] = "Create";
}

<h1>Vytvořit cvik</h1>

<h4>Cvik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Název" class="control-label"></label>
                <input asp-for="Název" class="form-control" />
                <span asp-validation-for="Název" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partie" class="control-label"></label>
                <input asp-for="Partie" class="form-control" />
                <span asp-validation-for="Partie" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="PočtySérií" class="control-label"></label>
                <input asp-for="PočtySérií" class="form-control" value=0 />
                <span asp-validation-for="PočtySérií" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="PočtyOpakování" class="control-label"></label>
                <input asp-for="PočtyOpakování" class="form-control" value="" />
                <span asp-validation-for="PočtyOpakování" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="PauzyMeziSériemi" class="control-label"></label>
                <input asp-for="PauzyMeziSériemi" class="form-control" value=0 />
                <span asp-validation-for="PauzyMeziSériemi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PopisCviku" class="control-label"></label>
                <input asp-for="PopisCviku" class="form-control" />
                <span asp-validation-for="PopisCviku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
