@page
@model LockoutModel
@{
    ViewData["Title"] = "Odhlášeno";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tento účet je odhlášet, zkusto to znovu později.</p>
</header>
