@page
@model LogoutModel
@{
    ViewData["Title"] = "Odhlásit se";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Klikněte zde pro odhlášenít</button>
            </form>
        }
        else
        {
            <p>Úspěšně jste se odhlásili z aplikace.</p>
        }
    }
</header>
