@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrace";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    @* <div class="col-md-4"> *@
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="text-center">
                <h2>Vytvořit nový účet</h2>    
            </div>

            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- Informace o sobě -->
            <div class="text-center">
                <h3>Vyplň o sobě informace</h3> 
            </div>
            <div class="form-floating mb-3 row">
                <div class="col-md-6">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="jmeno@priklad.cz" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Input.Jméno">Jméno</label>
                    <input asp-for="Input.Jméno" class="form-control" autocomplete="jméno" aria-required="true" placeholder="Jméno" />
                    <span asp-validation-for="Input.Jméno" class="text-danger"></span>
                </div>
                
            </div>
            <div class="form-floating mb-3 row">
                <div class="col-md-6">
                    <label asp-for="Input.Password">Heslo</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Heslo" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Input.Příjmení">Příjmení</label>
                    <input asp-for="Input.Příjmení" class="form-control" autocomplete="příjmení" aria-required="true" placeholder="Přijmení" />
                    <span asp-validation-for="Input.Příjmení" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mb-3 row">
                <div class="col-md-6">
                    <label asp-for="Input.ConfirmPassword">Potvrzení hesla</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Heslo" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Input.Věk">Věk</label>
                    <input asp-for="Input.Věk" class="form-control" autocomplete="věk" min="6" max="120" aria-required="true" placeholder="Věk" />
                    <span asp-validation-for="Input.Věk" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mb-3 row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <label asp-for="Input.Váha">Váha (př. 77.7) (kg)</label>
                    <input asp-for="Input.Váha" class="form-control" autocomplete="váha" aria-required="true" step="any" />
                    <span asp-validation-for="Input.Váha" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mb-3 row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <label asp-for="Input.Výška">Výška (př. 170) (cm)</label>
                    <input asp-for="Input.Výška" class="form-control" autocomplete="výška" aria-required="true" min="100" max="300"/>
                    <span asp-validation-for="Input.Výška" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mb-3 row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <label asp-for="Input.Pohlaví">Pohlaví</label>
                    <select asp-for="Input.Pohlaví" class="form-control" autocomplete="pohlaví" aria-required="true">
                        <option value="1">Muž</option>
                        <option value="2">Žena</option>
                        <option value="3">Jiné</option>
                    </select>
                    <span asp-validation-for="Input.Úroveň" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mb-3 row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <label asp-for="Input.Úroveň">Úroveň
                    <span class="btn btn-outline-secondary btn-sm custom-ml"
                          data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          title="Začátečník - nerozumí tréninkovým plánům a jejich struktuře. Pokročilý - má nějaké ponětí a zkušenosti s tréninkovými plány.">?</span>
                    </label>
                    <select asp-for="Input.Úroveň" class="form-control" autocomplete="cíl" aria-required="true">
                        <option value="1">Začátečník</option>
                        <option value="2">Pokročilý</option>
                    </select>
                    <span asp-validation-for="Input.Úroveň" class="text-danger"></span>
                </div>
            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="w-50 btn btn-lg btn-dark" style="margin-bottom: 10px;">Registrovat se</button>
            </div>

            

        </form>
   
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function pridejData() {
            window.location.href = "/Cvik/PridejData";
        }

        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });
    </script>
}
