@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrzení o resetování hesla";
}

<h1>@ViewData["Title"]</h1>
<p>
   Tvé heslo bylo resetováno. Prosím <a asp-page="./Login">klikni zde pro přihlášení</a>.
</p>
